html  {
  background-color: #3c9ac6;
}
header {
  background-color: darkorange;
  padding: 0.1em;
  margin: .3em 0em .3em 0em;
}
h1 {
  text-align: center;
  font-weight: normal; /* normal, bold */
  font-size: 3.5rem; /* 16 is normal font */
  font-style: none; /* normal, italic */
  text-decoration: none; /* underline, line-through */
  font-family: "Bevan", cursive;
  line-height: 0.5;
  color: white;
}

h2{
  font-family:"Bevan", cursive;
  color:darkorange;
}

li {
  font-weight:normal;
  
}
ul {
    list-style-type: lower-roman;
  }
  figcaption{
    font-style: italic;
    color: white;
  text-align:center;
  }
}
ol {
  list-style-type: none;
  padding: 0;
}

.cele {
  color: darkorange;
}

.rounded{
  color: darkorange;
}

a{
  color: white;
}

a:hover {
  color: orange;
}

p{
  font-family: arial; san serif;
  font-size: 1.2rem;
  color:white;
}

blockquote{
  font-style: italic;
  line-height: .9;
}

footer {
  text-align: right;
  font-size: .8rem;
  color: black;
}

dt {
  font-weight:bold;
  font-family: Arial;
  font-size: 1.2rem;
  margin: 0.5em 0em 0em 0em;
}

dl{
  margin: 0em;
}

dd{
font-size: 1.2rem;
}

.quote {
  font-size: 1.5rem;
  font-family:arial; serif;
  text-align: right;
}

nav{
  background-color: darkorange;
  text-align: center;
}

nav li{
  display: inline-block;
  padding: 0.5em;
}

nav a{
  display: inline-block;
  padding:.7em;
  background-color: black;
  color: white;
  margin: 0em;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1.6rem;
}

nav ol{
  list-style-type: none;
  margin: 0;
 padding: 0;
}

img{
  width: 100%

}

figure{
  border: 2px solid grey;
  padding: .7em;
  border-radius: 7px;
}

.src{
  background-color: black;
padding:0em 1em;
margin:0em;
}

footer{
background-color: black;
text-align: left;
}
